appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.2
async-generator==1.10
attrs==20.1.0
autopep8==1.5.4
backcall==0.2.0
beautifulsoup4==4.9.3
black==19.10b0
bleach==3.2.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1
django-ckeditor==6.0.0
django-filter==2.4.0
django-heroku==0.3.1
django-js-asset==1.2.2
djangorestframework==3.12.2
djangorestframework-simplejwt==4.3.0
entrypoints==0.3
filelock==3.0.12
gunicorn==20.0.4
html5lib==1.1
httpie==2.3.0
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
MouseInfo==0.1.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
notebook==6.1.4
numpy==1.19.2
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.1
pathspec==0.8.0
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2020.8.13
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.12.2
psycopg2==2.8.6
PyAutoGUI==0.9.50
pycodestyle==2.6.0
pycparser==2.20
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.7.1
PyJWT==1.7.1
pylint==2.5.3
PyMsgBox==1.0.8
pyparsing==2.4.7
pyperclip==1.8.0
PyQRCode==1.2.1
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
PySocks==1.7.1
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2020.1
pywin32==228
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.7.14
requests==2.24.0
requests-toolbelt==0.9.1
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.1
sqlparse==0.3.1
terminado==0.9.1
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==5.0.5
typed-ast==1.4.1
urllib3==1.25.11
virtualenv==20.0.33
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wrapt==1.12.1
