@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

body{
	background-color: hsl(0, 0%, 98%);
}
/*   navbar     */

.bg-dark{
	background-color: #4f868c!important;
}
.btn{
	border-radius: 0;
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}
.navbar-brand{
    color: aqua;
}
li{
    list-style: none;
}
@media(max-width:900px){
    .response{
        width: fit-content;
        height: auto;
        margin-top: 50px;
        margin:auto;
    }
}
@media(max-width:768px){
    .sidebar{
        display: none;
    }
}
.pagination {
    display: inline-block;
  }
.pagination a{
    border: 1px solid rgb(33, 62, 251);
    padding: 3px;
    border-radius: 2px;
    background-color: rgb(193, 230, 247);
    font-weight: bold;
    color: rgb(96, 93, 93);
    text-decoration: none;
   /* background-color: rgb(33, 62, 251);
    border-radius: .2rem; */
}
.pagination a:hover{
    border: 2px solid rgb(33, 62, 251);
    padding: 3px;
    color: white;
    background-color: rgb(45, 141, 189);
    border-radius: .2rem;
    text-decoration: none;
}
.ft-blog-heading{
    font-family: 'Anton', sans-serif;
    color: black;
}
.ft-blog-heading:hover{
    font-family: 'Anton', sans-serif;
    color: black;
}
.ft-blog-paragraph{
    word-wrap: break-word;
    white-space: normal;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans Condensed', sans-serif;
}

/*         for user profile image         */

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 270px;
	height: 200px;
	margin: 0;
	padding: 0; 
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
} 

